.card-profil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid grey;
  border-radius: 12px 12px 12px 12px;
  width: 35%;
  margin-top:5vh;
  margin-left: 5vw;
}