.formstory {
  display: flex;
  flex-direction: column;
  width: 50vw;
  background-color: rgba(232, 213, 183, .5);
  margin: auto;
  margin-top: 10vh;
  border-radius: 5% 5% 5% 5%;
}
.infos {
  background-color: rgba(237, 209, 164, .6);
  margin: 5%;
}
.storytelling {
  display: flex;
  flex-direction: column;
}
.title-txtarea {
  padding: 30px;
}
.textarea-custom {
  margin-top: 0.6vh;
  background-color: rgba(232, 213, 183, .8);
  margin-left: 30px;
  width: 90%;
  height: 20vh;
}